*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body, 
html{
    overflow-x: hidden;
}

.webgl{
    position: absolute;
    top: 0;
    left: 0;
}


.textbox{
    position: relative;
    margin-top: 5vh;
    width: 70vw;
    height: 8vh;
    text-align: center;
    display: flex;
    justify-content: center;
    margin-left: auto;
    margin-right: auto;
    font-family: monospace;
    z-index: 1;
    animation: pulsate 1.0s infinite alternate;   
    color: #fff;
    text-shadow:
    0 0 4px #fff,
    0 0 11px #fff,
    0 0 19px #fff,
    0 0 40px #BCD2F1,
    0 0 80px #BCD2F1,
    0 0 90px #BCD2F1,
    0 0 100px #BCD2F1,
    0 0 150px #BCD2F1;  
}

#popUpElement{
    z-index: 3;
    position: relative;
    width: 80vw;
    height: 2vh;
    color: #fff;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    font-family: monospace;
    border-color: red;
    border-radius:  50px; ;
    animation: pulsate 1.0s infinite alternate;   
    color: #fff;
    text-shadow:
    0 0 4px #fff,
    0 0 11px #fff,
    0 0 19px #fff,
    0 0 40px #BCD2F1,
    0 0 80px #BCD2F1,
    0 0 90px #BCD2F1,
    0 0 100px #BCD2F1,
    0 0 150px #BCD2F1;  

}

#canvas {
    position: relative;
    display: flex;
    height: 4vh; 
    width: 80vw;
    z-index: 1;
    margin-top: 24vh;
    margin-left: auto;
    margin-right: auto;
    justify-content: center;
    border-radius: 50px;
    margin-bottom: 1vh;
}

.circle {
    visibility: hidden;
    width: 30px;
    height: 30px;
    border: 1px solid lightblue;
    border-radius: 50%;
    margin: auto;
    z-index: 1;
    position: relative;
    margin-top: 33vh;
    box-shadow:     
    0 0 4px #fff,
    /* 0 0 11px #fff, */
    /* 0 0 19px #fff, */
    0 0 40px #BCD2F1,
    0 0 80px #BCD2F1,
    0 0 90px #BCD2F1,
    0 0 100px #BCD2F1,
    0 0 150px #BCD2F1;
}

.holder{
    position: relative;
    display: flex;
    border: 1px solid transparent; 
    text-align: center;
    z-index: 1;
    justify-content: center;
    margin-left: auto;
    margin-right: auto;
}

audio {
    width: calc(100%);
    width: 80vw;
    z-index: 1;
    opacity: .7;
  }

#song{
    z-index: 1;
}


@keyframes pulsate {
    100% {
      /* Larger blur radius */
      text-shadow:
        0 0 4px #fff,
        0 0 11px #fff,
        0 0 19px #fff,
        0 0 40px #BCD2F1,
        0 0 80px #BCD2F1,
        0 0 90px #BCD2F1,
        0 0 100px #BCD2F1,
        0 0 150px #BCD2F1;
    }
    0% {
      /* Smaller blur radius */
      text-shadow:
        0 0 2px #fff,
        0 0 4px #fff,
        0 0 6px #fff,
    0 0 40px #BCD2F1,
    0 0 80px #BCD2F1,
    0 0 90px #BCD2F1,
    0 0 100px #BCD2F1,
    0 0 150px #BCD2F1;
    }
    
  }