*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body, 
html{
    overflow-x: hidden;
}

.webgl{
    position: absolute;
    top: 0;
    left: 0;
    /* z-index: 1; */
    /* height: 80vh; */
}

nav{
    color: white;
    z-index: 2;
    position: relative;
    padding: 4rem 8rem;
    display: flex;
    justify-content: space-between;
}

nav a{
    text-decoration: none;
    color: white;
    font-weight: bold;
}

nav ul{
    list-style: none;
    display: flex;
    gap: 4rem;
}

.title{
    color: white;
    z-index: 2;
    position: absolute;
    font-size: 3rem;
    left: 50%;
    top: 75%;
    transform: translate(-50%, -75%);
}

.textbox{
    position: relative;
    color: #BCD2F1;
    margin-top: 5vh;
    width: 70vw;
    height: 8vh;
    text-align: center;
    display: flex;
    justify-content: center;
    margin-left: auto;
    margin-right: auto;
    font-family: monospace;
    z-index: 1;
}

.holder{
    position: relative;
    display: flex;
    /* height: 20vh; */
    border: 1px solid transparent; 
    text-align: center;
    z-index: 1;
    /* width: 60vw; */
    justify-content: center;
    margin-top: 5vh;
    margin-left: auto;
    margin-right: auto;
}


  
#canvas {
    position: relative;
    display: flex;
    height: 10vh; 
    width: 80vw;
    /* background-color: lightblue; */
    backdrop-filter: blur(10px);
    border-color: orange;
    z-index: 1;
    margin-top: 60vh;
    margin-left: auto;
    margin-right: auto;
    justify-content: center;
}
  
audio {
    width: calc(100%);
    width: 80vw;
    z-index: 1;
  }

.song{
    background: red;
    z-index: 1;
}